In [ ]:
#input function
l=int(input("enter the l of rectangle "))
b=int(input("enter the b of rectangle "))
a=(l*b)
print(a)

enter the l of rectangle2
enter the b of rectangle3
6

In [ ]:
#input function
n1=int(input("enter n1 "))
n2=int(input("enter n2 "))
s=n1+n2
q=n1/n2
p=n1*n2
d=n1-n2
print(s)
print(q)

enter n14
enter n22
6
2.0

In [ ]:
f=float(input('enter a number'))
c=(f-32)*5/9
print(c)

enter a number30
-1.1111111111111112

In [ ]:
c=float(input('enter a number'))
f=(c*9/5)+32
print(f)

enter a number13
55.4

In [ ]:
num=int(input("enter a number"))
if num>0:
  print("num is positive")
elif num<0:
  print("num is negative")
else:
  print("invalid")

enter a number4
num is positive

In [ ]:
y=int(input("enter the year"))
if y%4==0:
  print("it is a leap year")
elif y%4!=0:
  print("it is not a leap year")

enter the year2004
it is a leap year

In [ ]:
mark=int(input("enter mark"))
if mark>89:
  print("A")
elif mark>79:
  print("B")
elif mark>69:
  print("C")
elif mark>59:
  print("D")
elif mark<59:
  print("F")
else:
  print("invalid")

enter mark48
F

In [ ]:
for num in range (10,0,-1):
  print(num)

10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in range(2,22,2):
  print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
n=int(input("enter the number"))
for i in range(1,11):
  print(n,"*",i,"=",n*i)

enter the number3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30